/labs/Java_Advanced/11-Exceptions/practices/practice1/Book_3_jar/nbproject/private/
/labs/Java_Advanced/11-Exceptions/practices/practice1/Book_3_jar/dist/
/labs/Java_Advanced/11-Exceptions/practices/practice1/Book_3_jar/build/
/Java For Dummies/Book 3/Book_3/dist/
/labs/Java_Advanced/11-Exceptions/practices/practice1/JavaApplication16/nbproject/private/
/labs/Java_Advanced/11-Exceptions/practices/practice1/Book_4/nbproject/private/
/labs/Java_Advanced/11-Exceptions/practices/practice1/Book_4/build/
/labs/Java_Advanced/11-Exceptions/practices/practice1/Football_app/nbproject/private/
/labs/Java_Advanced/11-Exceptions/practices/practice1/Football_app/build/
