/Java For Dummies/Dummies/nbproject/private/
/Java For Dummies/Dummies/build/
/Java For Dummies/Dummies/Chapter 2/Chapter 2/nbproject/private/
/Java For Dummies/Dummies/Chapter 1/build/
/Java For Dummies/Book 2/Book_2_Chapter_2/nbproject/private/
/Java For Dummies/Book 2/Book_2/nbproject/private/
/Java For Dummies/Book 2/Book_2/build/
/Java For Dummies/Book 3/JavaApplication10/nbproject/private/
/Java For Dummies/Book 3/Book_3/nbproject/private/

/labs/Java_Advanced/11-Exceptions/practices/practice1/CatchingExceptions11-01/nbproject/private/
/labs/Java_Advanced/11-Exceptions/practices/practice1/CatchingExceptions11-01/build/
/labs/Java_Advanced/11-Exceptions/solutions/practice1/CatchingExceptions11-01Soln/build/
/labs/Java_Advanced/11-Exceptions/practices/practice2/CustomExceptions11-02Prac/build/
/labs/Java_Advanced/13-IO_Fundamentals/practices/practice1/FileScanner13-01Prac/build/
/labs/Java_Advanced/13-IO_Fundamentals/practices/practice2/SerializeShoppingCart13-02Prac/build/
/labs/Java_Advanced/12-DateTime/practices/practice3/TimeBetween12-03Prac/build/
/labs/Java_Advanced/12-DateTime/practices/practice2/DepartArrive12-02Prac/build/
/labs/Java_Advanced/12-DateTime/practices/practice1/LocalDatesAndTimes12-01Prac/build/
=======
/Java For Dummies/Book 3/Book_3/build/
/Java For Dummies/Book 3/Employee/nbproject/private/
/Java For Dummies/Book 3/Employee/build/

